doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Presentasi Google Glass

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Google Glasss Teknologi

      section
        h2 Apa itu Google glass???
        h3 Google Glass adalah sebuah gadget (perangkat teknologi modern) dalam bentuk kacamata, yang memiliki kemampuan untuk menampilkan informasi serta fungsi layaknya smartphone bebas genggam, dan dapat dikendalikan melalui perintah suara. Konsepnya adalah, meletakkan layar monitor/tablet/smartphone tepat di depan mata penggunanya.
        sec

      section
        h2 Siapakah Pengembang Google Glass?
        h3 Google Glass dikembangkan oleh raksasa internet Amerika Serikat, Google Inc. Lebih tepatnya lagi, oleh "Google X", sebuah lab rahasia yang memiliki misi menciptakan berbagai macam teknologi masa depan, dan diawasi langsung oleh Sergey Brin, co-founder Google.

      section
        h2 Lanjutan
        h3 Secara khusus, proyek ini dinamakan "Project Glass" dan dipimpin oleh Thad Starner, seorang profesor yang berpengalaman di bidang teknologi augmented reality. Sebagai tambahan, teknologi yang dipakai dalam "Project Glass" ini telah dipatenkan.

      section
        h2 Biografi Lary Page
        h3 Larry Page adalah salah seorang pendiri Google dan saat ini Presiden Produk-produk Google Inc. Lawrence E. Page lahir tahun 1973 di Lansing, Michigan dari orangtua Carl Vincent Page, adalah seorang profesor ilmu komputer di Universitas Michigan dan Gloria Page, yang merupakan guru pemrograman komputer di Universitas Michigan.

      section
        h2 Lanjutan
        h3 Setelah lulus dari East Lansing High School ia belajar dan mendapatkan gelar Bachelor of Science di bidang rekayasa komputer dari University of Michigan dan melanjutkan studi program Master di Universitas Stanford.

      section
        h2 Lanjutan
        h3 Sementara belajar di Universitas Stanford, Page diperkenalkan kepada Sergey Brin. Kedua tidak memulai sebagai teman, sepertinya tidak setuju pada kebanyakan topik pembicaraan, tetapi akhirnya menemukan sebuah subjek yang telah menjadi sangat menarik bagi mereka berdua. Topik yang Mengambil informasi dari kumpulan data besar. 

      section
        h2 Lanjutan
        h3 Pasangan ini kemudian menulis apa yang secara luas dianggap sebagai kontribusi mereka, kertas kerja yang disebut “The Anatomy of a Large-Scale Hypertextual Web Search Engine”. sejak itu menjadimakalah mereka menjadi satu dari sepuluh makalah ilmiah paling banyak diakses di Stanford University.

      section
        h2 Lanjutan
        h3 Mereka pun mulai mengembangkan web search engine yang dinamakan "Google". Banyak investasi - investasi yang didapatkannya sehingga mereka mampu mengembangkan Google menjadi sangat sukses hingga sekarang ini. Pada tahun 2002, Larry bernama Forum Ekonomi Dunia Global Leader for Tomorrow. Ia adalah anggota National Advisory Committee (NAC) untuk Universitas Michigan College of Engineering, dan bersama-sama dengan Co-Founder Sergey Brin, Larry mendapat penghargaan Marconi Prize pada tahun 2004. Dia adalah wali direksi dari X PRIZE, dan terpilih menjadi anggota National Academy of Engineering pada tahun 2004.
        
      section
        h2 Cara Kerja Google Glass?
        h3 Selain menggunakan touchpad yang cara pakainya hampir sama seperti touchpad pada laptop, terobosan yang dimiliki Google Glass adalah bisa dikontrol dengan menggunakan suara

      section
        h2 Aplikasi Google Glass
        h3 Aplikasi pada Google Glass dinamakan Glassware, dan boleh dikembangkan secara bebas oleh pihak ke-tiga. Glassware yang telah dipakai oleh Google Glass, tentu saja aplikasi-aplikasi standard milik Google sendiri, seperti: Google Now, Google Maps, Google+, dan Gmail. 

      section
        h2 Lanjutan
        h3 Pada 15 April 2013, Google mulai membuka ruang bagi para developer pihak ke-tiga untuk mengembangkan aplikasi lain di Google Glass. Para developer pun mulai membuat beragam jenis aplikasi, mulai dari aplikasi berita, note, photo editor, hingga aplikasi untuk sharing ke social media seperti facebook dan twitter.


      section
        h2 Apa Saja Fitur Google Glass?
        ul
          li Mengambil gambar atau foto hanya dengan perintah suara. Pengguna hanya tinggal mengatakan: "take a picture".
          li Merekam apa yang dilihat secara langsung dalam bentuk video
          li Share segala hal yang dilihat ke social media.

      section
        h2 Lanjutan
        ul
          li Sebagai penunjuk arah melalui GPS.
          li Mengirimkan pesan melalui perintah suara.
          li Mengirimkan pesan melalui perintah suara.
          li Menanyakana apapun secara langsung seperti halnya saat searching di google
          li Menerjemahkan apa yang ingin dikatakan ke dalam berbagai bahasa

      section
        h2 Daftar Perintah pada Google Glass
        ul
          li Add a calendar event
          li Call me a car
          li Capture a panorama
          li Check me in
          li Created a 3D model
          li Find a recipe
          li Learn a song

      section
        h2 Lanjutan
        ul
          li Play a Game
          li Play Music
          li Record a recipe
          li Remind me to ....
          li Show a compass
          li Start a bike ride
          li Tune an instrument
          
      section
        h2 Hardware Google Glass
        h3 Kamera yang ada pada Google Glass mampu mengambil gambar dengan resolusi 5 megapixel, dan merekam video dengan kualitas 720p HD. 
        h3 Google Glass juga dilengkapi touchpad yang terletak di samping, berfungsi untuk mengontrol penggunaan fitur dengan cara menyentuh, menggesek, dan mengetuknya.
        h3 Spesifikasi lainnya, Google Glass memiliki display 640x360, dilengkapi bluetooth, wi-fi 802.11b/g, ruang penyimpanan 16 GB, RAM 682MB, kompas, serta beberapa hardware penunjang lain termasuk perangkat penting untuk menerima perintah suara.
       
      section
        h2 Spesifikasi Google Glass
        ul
          li Fitting - Bantalan hidung dan frame yang bisa disesuaikan dengan semua bentuk wajah
          li Bantalan hidung tambahan dalam dua ukuran
          li Layar - Resolusi tinggi setara dengan display high definition dilihat dari jarak 2,5 meter
          li Kamera - Foto : 5 Megapiksel dan Video : HD 1280 x 720 p

      section
        h2 Lanjutan
        ul
          li Audio - Bone Conduction Transducer
          li Konektivitas - Wifi 802.11b.g dan Bluetooth
          li Media Penyimpanan - 16 GB
          li Daya Tahan - Satu hari Penuh, kecuali dipakai untuk merekam video
          li Charger - Charger khusus dengan port micro-USB
          li Kompatibilitas - Semua ponsel dengan kapabilitas Bluetooth
      
      section
        h2 Gambar Google Glass dan Bagian - Bagiannya

      section
        h2 <img src = "googleglass.jpg">

      section
        h2 Hasil Kamera Google Glass

      section
        h2 Gambar 1
        <img src ="hasil1.png">

      section
        h2 Gambar 2
        <img src ="hasil2.png">
      
      section
        h2 Fungsi Google Glass
        ul
          li Sebagai Reminder (pengingat)
          li Menulis Pesan
          li Mengirim Pesan Suara
          li Memotret gambar
          li Merekam video
          li Memutar Musik dan Video

      section
        h2 Lanjutan
        ul
          li Video Call / Video Chatting
          li Pencari Arah Jalan (Google Map)
          li Menampilkan informasi tentang lokasi, cuaca dan suhu
          li Search Engine (Mesin Pencari)
          li Share Foto ke media sosial
          li Upload Video ke Youtube
          li Dan Lain Sebagainya
          
      section
        h2 Kapan Google Glass akan diliris?
        h3 Google Glass kemungkinan besar akan diliris pada acara Google I/O 2014 yaitu sekitar bulan Mei 2014 dan Google Glass sangat terbatas karena diproduksi dengan jumlah yang cukup sedikit saja.

      section
        h2 Berapakah harga Google Glass?
        h3 Robert Scoble, salah satu orang yang berkesempatan memakai Google Glass untuk kali pertama, mengatakan bahwa Google belum bisa menurunkan harga Glass di bawah 500 dollar AS atau sekitar Rp 6,1 juta.

      section
        h2 Lanjutan
        h3 Versi beta (Explorer Edition) yang beredar di tangan segelintir orang saat ini dihargai 1.500 dollar AS. Produk itu merupakan versi percobaan yang masih terus disempurnakan.
         
      section
        h2 Bahayakah Menggunakan Google Glass?
        h3 Ada beberapa kalangan yang mengatakan Google - Glass sangat berbahaya, antara lain:
        ul
          li Mengganggu kemampuan kognitif pengguna dengan kemungkinan konsekuensi yang berbahaya, jika dipakai secara berkesinambungan.
          li Dapat dijadikan sebagai alat mata-mata.
          li Menyebabkan fokus di dunia nyata menjadi lemah dan dapat menyebabkan kecelakaan di jalan raya.

      section
        h2 Google Glass bukan untuk Anak - Anak
        h3 Google menyatakan anak-anak berusia 13 tahun dilarang menggunakan alat teknologi terbaru mereka, Google Glass. Dikarenakan dapat mengganggu perkembangan penglihatan mereka karena Google Glass diciptakan tidak untuk semua orang, sejumlah orang mungkin akan merasakan tekanan pada mata atau mengalami sakit kepala. 

      section
        h2 SMS Iphone hadir di Google Glass
        h3 Google Glass menghadirkan SMS Iphone yan bisa dibaca melalui kacamata Google Glass.
        h3 Google mengatakan, pengguna akan mendapatkan pemberitahuan di Google Glass setiap kali mereka menerima SMS walaupun tidak bisa membalasnya.

      section
        h2 Lanjutan
        h3 Pengguna dapat mengaktifkan fitur ini pada pengaturan Bluetooth iPhone dan memilih "tampilkan pemberitahuan".
        h3 Pekan lalu, perusahaan ini mengatakan bahwa Google Glass akan mendapatkan KitKat, versi terbaru dari sistem operasi Android untuk perangkat mobile.

      section
        h2 Perbandingan Google Glass dengan Gadget Lainnya
        h3 Perangkat Google Glass menayangkan informasi persis di depan mata pengguna. Pemakainya juga dapat mengambil foto secara instan dan hanya cukup dengan sekali kedip mata saja, anda sudah bisa memfoto objek di depan anda, sangat praktis dibandingkan dengan Smartphone.

      section
        h2 Lanjutan
        h3 Google Glass tentunya lebi praktis dibandingkan dengan pemegang Smarphone yang harus merogoh kantong hanya untuk melihat e-mail atau mengambil foto.

      section(data-bespoke-hash='named-route')
        h2 Kelebihan dan Kekurangan Google Glass

      section(data-bespoke-state='emphatic')
        h2 Kelebihan Google Glass
        h3 Navigasi dengan jari digunakan untuk menjelajah atau browsing di internet
        h3 Bingkai terbuat dari titanium sehingga nyaman dan ringan saat dikenakan.

      section
        h2 Kekurangan Google Glass
        hr
        ul
          li Bisa digunakan untuk mengintip dan merekam lawan jenis
          li Digunakan untuk memata-matai orang yang baru dikenal
          li Melihat pornografi
        hr
        ul
          li Bisa menyebabkan kecelakaan seperti ketika pengemudi menggunakan ponsel.Kabarnya di Amerika sebelum google glass diluncurkan,otoritas pemerintah disana sudah melarang para pengemudi mobil untuk memakia google glass saat berkendara

      section
        h2 Biodata Andi
        ul
          li Nama
          li Andi
          li Tempat / Tanggal Lahir
          li Medan, 29 Mei 1995
          li Sekolah
          li SMA Bodhicitta Medan

      section
        h2 Lanjutan
        ul
          li Status
          li Mahasiswa
          li Jurusan
          li Teknik Informatika
          li Hobi
          li Design Grafis

      section
        h2 Biografi Andi
        h3 Saya merupakan seorang anak bungsu yang terdiri dari 2 abang laki-laki, abang saya yang pertama bernama Willy dan abang saya yang kedua bernama Rudy, saya memiliki seorang ayah dan ibu yang baik. Saya bersekolah SD di SD Gajah Mada 2 Medan dan saya bersekolah SMP hingga SMA di Perguruan Buddhis Bodhicitta Medan

      section
        h2 Lanjutan
        h3 Kini saya sedang melanjutkan kuliah saya di STMIK - STIE Mikroskil dan pekerjaan saya adalah seorang Designer Grafis. Saya menyediakan jasa pengeditan foto wedding dalam proses bisnis saya. Saya tergolong orang yang baik dan mudah bergaul dengan siapapun. Saya lahir pada tanggal 29 Mei 1995.

      section
        h2 Biodata Edward Yangfer
        ul
          li Nama
          li Edward Yangfer
          li Tempat / Tanggal Lahir
          li Medan, 24 Mei 1994
          li Sekolah
          li SMA W.R. Supratman 2, Medan

      section
        h2 Lanjutan
        ul
          li Status
          li Mahasiswa
          li Jurusan
          li Teknik Informatika
          li Hobi
          li Main Catur dan Makan

      section
        h2 Biografi Edward Yangfer
        h3 Nama lengkap saya adalah Edward Yangfer dan saya biasa dipanggil Edward. Saya merupakan anak kedua dari 3 bersaudara, saya memiliki seorang adik laki - laki dan abang laki - laki. Saya tergolong keluarga yang sederhana dan saya sangat suka segala sesuatu yang berhubungan dengan hitungan.

      section
        h2 Lanjutan
        h3 Saya lulus SMA di SMA W.R. Supratman 2 dan kini saya sedang berkuliah di Mikroskil dan mengambil jurusan Teknik Informatika. Keseharian saya adalah bekerja di toko dan membantu orang tua saya, saya tergolong orang yang senang bergaul dan juga senang untuk berbagi.
        
      section
        h2 Biodata Andy Syahputra
        ul
          li Nama
          li Andy Syahputra
          li Tempat / Tanggal Lahir
          li Tanjung Balai, 1 Juli 1995
          li Sekolah
          li SMA Sisimangaraja Tanjung Balai

      section
        h2 Lanjutan
        ul
          li Status
          li Mahasiswa
          li Jurusan
          li Teknik Informatika
          li Hobi
          li Maen Basket

      section
        h2 Biografi Andy Syahputra
        h3 Nama saya Andy Syahputra, saya asli berasal dari Tanjung Balai, saya lulus di SMA Sisimangaraja Tanjung Balai dan kini saya tinggal di Medan untuk menyelesaikan kuliah saya. Saya berkuliah di salah satu Perguruan Tinggi yang cukup terkenal yang bernama STMIK Mikroskil dan saya mengambil jurusan TI.

      section
        h2 Lanjutan
        h3 Keseharian saya adalah saya bekerja di Pasar Rame membantu abang saya dan juga saya memiliki seorang kakak yang juga berkuliah di Mikroskil dan kini beliau sudah mencapai semester 8 dan hampir akan selesai menyelesaikan kuliahnya. Saya sangat pendiam dan kurang suka bergaul dengan sesama, namun jika ada kawan yang mengajak saya mengobrol, saya akan dengan senang hati meladeninya.

      section
        h2 Biodata Bill Gates
        ul
          li Nama Lengkap
          li William Henry "Bill" Gates III
          li Tempat Lahir
          li Seattle, Washington Amerika
          li Pekerjaan
          li Pengusaha

      section
        h2 Lanjutan
        ul
          li Pasangan
          li Melinda Gates
          li Kewarganegaraan
          li Amerika Serikat
          li Tinggi
          li 177 Cm

      section
        h2 Biografi Bill Gates
        h3 William Henry Gates III atau lebih dikenal dengan nama Bill Gates dilahirkan pada 28 Oktober 1955, di Seattle, Washington. Bill Gates adalah adalah anak kedua dari tiga bersaudara. Ayahnya William Henry Gates adalah seorang pengacara perusahaan yang punya banyak relasi di kota. Sedangkan ibunya Mary Maxwell seorang pegawai First Interstate Bank, Pacific Northwest Bell dan anggota Tingkat Nasional United Way.

      section
        h2 Lanjutan
        h3 Bill seorang anak yang cerdas, tetapi dia terlalu penuh semangat dan cenderung sering mengalami kesulitan di sekolah. Ketika dia berumur sebelas tahun, orang tuanya memutuskan untuk membuat perubahan pada dirinya dan mengirimnya ke Lakeside School, sebuah sekolah dasar yang bergengsi khusus bagi anak laki-laki. Di Lakeside itulah pada tahun 1968 Bill Gates untuk pertama kalinya diperkenalkan dengan dunia komputer, dalam bentuk mesin teletype yang dihubungkan dengan telepon ke sebuah komputer pembagian waktu.

      section
        h2 Lanjutan
        h4 Dia dengan cepat menguasai BASIC, sebuah bahasa pemograman komputer, dan bersama dengan para hacker yang belajar sendiri di Lakeside, dia melewatkan waktu ber-jam-jam menulis program, melakukan permainan, dan secara umum mempelajari banyak hal tentang komputer. “Dia adalah seorang eksentrik,” sebagaimana salah seorang guru memberikan Gates julukan itu. Bill Gates menempuh kuliah di Harvard University di Cambridge mulai tahun 1975. Di sana ia bertemu dengan Paul Allen sewaktu sekolah bersama-sama. Bersama Paul Allen, Bill Gates terus mengembangkan talentanya di bidang pemograman komputer. Namun, Bill gates memutuskan keluar (drop out) untuk menyumbangkan wakunya ke Microsoft.

      section
        h2 Lanjutan
        h4 Melalui usaha kerasnya, perusahaan yang ia dirikan yang bernama Microsoft Corporation menjadi sukses dan Bill Gates melambung menjadi seorang jutawan. Di tahun 1990 Bill Gates sukses merilis sistem operasi yang sangat sukses di pasaran dunia. Namun, Bill Gates juga mendapat reputasi yang tidak baik dalam karirnya. Tidak hanya satu kali, bahkan Bill Gates melakukan beberapa kali kesalahan dalam bisnis perangkat lunaknya. Di tahun 1990 Bill Gates mendapat tuntutan dari Departemen Keadilan Amerika Serikat dengan dakwaan Gates telah melakukan monopoli terhadap perusahaan-perusahaan kecil. 

      section
        h2 Lanjutan
        h4 Dan sekali lagi Bill Gates tersandung oleh hukum undang-undang bisnis Amerika Serikat pada tahun 1999. Pada tahun 2000, Bill gates mengundurkan diri dari jabatannya sebagai Ketua Pegawai Eksekutif dan ia memilih kembali ke profesi lamanya yang ia cintai yaitu Kepala Penelitian dan Pengembangan Perangkat Lunak di perusahaanya sendiri, Microsoft Corp. Dan pada awal tahun 2008, Bill Gates memutuskan untuk mengundurkan diri dari manajemen Microsoft dan mengkonsentrasikan diri pada kerja kedermawanan melalui yayasan sosial yang didirikannya, yaitu Bill & Melinda Gates Foundation.

      section
        h2 Biodata Jack Dorsey
        ul
          li Nama Lengkap
          li Jack Dorsey
          li Tempat Lahir
          li St Louis, Missouri
          li Tanggal Lahir
          li 19 November 1976

      section
        h2 Lanjutan
        ul
          li Pendidikan
          li Universitas New York (Drop Out)
          li Pekerjaan
          li CEO Twitter
          li Hobi
          li Programming dan Membuat Perangkat Lunak

      section
        h2 Biografi Jack Dorsey
        h4 Jack Dorsey, Lahir di St Louis, Missouri tanggal 19 November 1976, merupakan salah satu dari tiga pendiri Twitter yaitu Biz Stone, Evan Willliams, dan Jack Dorsey sendiri. ketika usianya baru 24 tahun muncul ide yang sederhana dibenaknya untuk mengubah cara berkomunikasi secara sosial, sebuah ide yang akhirnya berubah menjadi apa yang sekarang kita kenal sebagai Twitter. , ia sudah menunjukkan minat dalam pengembangan perangkat lunak pada usia 14 dan adalah untuk menciptakan perangkat lunak open source aplikasi yang berhubungan dengan rute taksi dan kurir pengiriman.

      section
        h2 Lanjutan
        h4 Setelah kuliah di University of Missouri dan di New York, ia pindah ke California. Pada saat itu, pesan instan benar-benar mulai luar biasa, dengan AOL Instant Messenger layanan yang sangat populer. Dorsey melihat hal ini dan bertanya-tanya apakah ia dapat menggabungkan ide-ide awalnya untuk menyediakan layanan pengiriman pesan status. “Bagaimana jika Anda dapat berbagi status Anda dengan semua teman-teman Anda benar-benar mudah, sehingga mereka tahu apa yang Anda lakukan, tapi Anda tidak ingin harus menulis seluruh blog entry atau Live Journal entry?”

      section
        h2 Lanjutan
        h4 Seiring berjalannya waktu dan Jack sedang sibuk bekerja pada sebuah solusi pengiriman berbasis web, ia menganggap apakah pesan teks SMSdapat dimasukkan ke dalam konsep pesan status interaktif. Kemudian Evan Williams, seorang mantan eksekutif Google, menyediakan dana investasi dan bersama-sama dengan Dorsey dan Stone untuk operasional twitter, Inc. Pada awal 2006 mereka sudah siap, tetapi tidak benar-benar memiliki strategi peluncuran yang aktif.

      section
        h2 Lanjutan
        h4 Pada bulan Agustus tahun 2006, twitter lahir, layanan microblogging ini Berbeda dengan layanan blog seperti Blogger, Wordpress dan Multiply, Twitter memiliki batasan 140 karakter per post – oleh sebab itu dinamakan microblogging. Apabila aktifitas menulis yang dilakukan oleh para blogger sekarang sudah memiliki kata kerja sendiri yaitu blogging, demikian juga halnya dengan aktifitas yang dilakukan oleh para pengguna Twitter.
        
      section
        h2 Biodata Mark Zuckerberg
        ul
          li Nama Lengkap
          li Mark Elliot Zuckerberg
          li Tempat Lahir
          li White Plains, New York
          li Tanggal Lahir
          li 14 Mei 1984

      section
        h2 Lanjutan
        ul
          li Tempat Tinggal
          li Palo Alto, California
          li Pekerjaan
          li CEO Facebook
          li Penghargaan
          li TIME Person of the Year 2010
          li Kekayaan
          li US$17.5 Milliar (2011)

      section
        h2 Biografi Mark Zuckerberg
        h4 Mark Elliot Zuckerberg lahir di kawasan bernama Dobbs Ferry, Westchester County, kota New York.Anak dari Edward dan Karen Zuckerberg. Ia adalah anak kedua dari empat bersaudara dari orang tua pasangan dokter gigi psikiater. Sejak kecil Zuckerberg suka mengutak-atik komputer, mencoba berbagai program komputer dan belajar membuatnya. Ayahnya sendiri membelikannya komputer sejak ia beru¬sia delapan tahun. Saat di sekolah menengah Phillips Exeter Academy, ia dan rekannya, D'Angelo, membuat plug-in untuk MP3 player Winamp. Plug-in adalah program komputer yang bisa berinteraksi dengan aplikasi host seperti web browser atau email untuk keperluan tertentu.

      section
        h2 Lanjutan
        h4 Zuckerberg dan D'Angelo membuat plug-in untuk menghimpun kesukaan orang terhadap aneka jenis lagu dan kemudian membuat play¬list-nya sesuai selera mereka. Mereka mengirimkan program itu ke berbagai perusahaan termasuk ke AOL (American Online) dan Microsoft. Pada tahun terakhimya di Phillips ia direkrut oleh Microsoft dan AOL untuk suatu proyek.

      section
        h2 Lanjutan
        h4 Saat melanjutkan sekolah ke perguruan tinggi keduanya harus berpisah. D'Angelo masuk Caltech sedangkan Zuckerberg masuk Harvard. Di Harvard inilah Zuckerberg menemukan ide membuat buku direktori mahasiswa online karena universitasnya tak membagikan face book (buku mahasiswa yang memuat foto dan identitas mahasiswa di universitas itu) pada mahasiswa baru sebagai ajang pertemanan di antara mereka. Namun setiap kali ia menawarkan diri membuat direktori itu, Harvard menolaknya. "Mereka mengatakan punya alasan untuk tidak mengumpulkan informasi (mahasiswa) ini," ujar Zuckerberg kemudian.

      section
        h2 Lanjutan
        h4 Meski ditolak ia selalu mencari cara untuk mewujudkannya. "Saya ingin menunjukkan kalau hal itu bisa dilakukan," lanjutnya soal kengototannya membuat direktori itu. Proyek pertamanya adalah CourseMatch (www.coursematch.com) yang memungkinkan teman-teman sekelasnya berkomunikasi satu sama lain di website tersebut. Suatu malam di tahun kedua ia kuliah di Harvard, Zuckerberg menyabot data mahasiswa Harvard dan memasukkannya ke dalam website yang ia buat bernama Facemash. Sejumlah foto rekan mahasiswanya terpampang di situ. 

      section
        h2 Lanjutan
        h4 Tak lupa ia membubuhkan kalimat yang meminta pengun¬jungnya menentukan mana dari foto-foto ini yang paling "hot". Pancingannya mengena. Dalam tempo empat jam sejak ia meluncurkan webiste itu tercatat 450 orang mengunjungi Facemash dan sebanyak 22.000 foto mereka buka. Pihak Harvard mengetahuinya dan sambungan internet pun diputus. Zuckerberg diperkarakan karena dianggap mencuri data. Anak muda berambut keriting ini pun meminta maaf kepada rekan-rekan yang fotonya masuk di Facemash. Tetapi ia tak menyesali tinda¬kannya. "Saya kira informasi seperti itu harus tersedia (online)," ujarnya.

      section
        h2 Lanjutan
        h4 Alih-alih kapok ia malah membuat website baru dengan nama Facebook (www.thefacebook.com). Website ini ia luncurkan pada Februari 2004. Facebook merupakan penyempurnaan dari Facemash. Sasarannya tetap sebagai tempat pertemuan sesama mahasiswa Harvard. Dalam penjelasan di website-nya sekarang disebutkan bahwa Facebook adalah suatu alat sosial untuk membantu orang berko¬munikasi lebih efisien dengan rekan, keluarga, atau rekan kerjanya. Facebook menawarkan navigasi yang mudah bagi para penggunanya. Setiap pemilik account punya ruang untuk memajang fotonya, teman-temannya, network, dan melakukan hal lainnya seperti bisa berkirim pesan dan lain sebagainya.

      section
        h2 Teknologi Terbaru di Dunia
        ul
          li Jubah Menghilang Harry Potter, Metamaterial
          li Komputer Kuantum
          li Quantum Teleporter (alat pencipta replika)
          li Lightsaber (Pedang Laser)
          li JetPack
          li Flying Car
          li Google Glass
          li The Tables Electonic

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild