doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Presentasi Google Glass

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Google Glasss Teknologi

      section
        h2 Apa itu Google glass???
        h3 Google Glass adalah sebuah gadget (perangkat teknologi modern) dalam bentuk kacamata, yang memiliki kemampuan untuk menampilkan informasi serta fungsi layaknya smartphone bebas genggam, dan dapat dikendalikan melalui perintah suara. Konsepnya adalah, meletakkan layar monitor/tablet/smartphone tepat di depan mata penggunanya.
        sec

      section
        h2 Siapakah Pengembang Google Glass?
        h3 Google Glass dikembangkan oleh raksasa internet Amerika Serikat, Google Inc. Lebih tepatnya lagi, oleh "Google X", sebuah lab rahasia yang memiliki misi menciptakan berbagai macam teknologi masa depan, dan diawasi langsung oleh Sergey Brin, co-founder Google.

      section
        h2 Lanjutan
        h3 Secara khusus, proyek ini dinamakan "Project Glass" dan dipimpin oleh Thad Starner, seorang profesor yang berpengalaman di bidang teknologi augmented reality. Sebagai tambahan, teknologi yang dipakai dalam "Project Glass" ini telah dipatenkan.

      section
        h2 Cara Kerja Google Glass?
        h3 Selain menggunakan touchpad yang cara pakainya hampir sama seperti touchpad pada laptop, terobosan yang dimiliki Google Glass adalah bisa dikontrol dengan menggunakan suara

      section
        h2 Aplikasi Google Glass
        h3 Aplikasi pada Google Glass dinamakan Glassware, dan boleh dikembangkan secara bebas oleh pihak ke-tiga. Glassware yang telah dipakai oleh Google Glass, tentu saja aplikasi-aplikasi standard milik Google sendiri, seperti: Google Now, Google Maps, Google+, dan Gmail. 

      section
        h2 Lanjutan
        h3 Pada 15 April 2013, Google mulai membuka ruang bagi para developer pihak ke-tiga untuk mengembangkan aplikasi lain di Google Glass. Para developer pun mulai membuat beragam jenis aplikasi, mulai dari aplikasi berita, note, photo editor, hingga aplikasi untuk sharing ke social media seperti facebook dan twitter.


      section
        h2 Apa Saja Fitur Google Glass?
        ul
          li Mengambil gambar atau foto hanya dengan perintah suara. Pengguna hanya tinggal mengatakan: "take a picture".
          li Merekam apa yang dilihat secara langsung dalam bentuk video
          li Share segala hal yang dilihat ke social media.
<<<<<<< HEAD
          
=======

      section
        h2 Lanjutan
        ul
          li Sebagai penunjuk arah melalui GPS.
          li Mengirimkan pesan melalui perintah suara.
          li Mengirimkan pesan melalui perintah suara.
          li Menanyakana apapun secara langsung seperti halnya saat searching di google
          li Menerjemahkan apa yang ingin dikatakan ke dalam berbagai bahasa

      section
        h2 Hardware Google Glass
        h3 Kamera yang ada pada Google Glass mampu mengambil gambar dengan resolusi 5 megapixel, dan merekam video dengan kualitas 720p HD. 
        h3 Google Glass juga dilengkapi touchpad yang terletak di samping, berfungsi untuk mengontrol penggunaan fitur dengan cara menyentuh, menggesek, dan mengetuknya.
        h3 Spesifikasi lainnya, Google Glass memiliki display 640x360, dilengkapi bluetooth, wi-fi 802.11b/g, ruang penyimpanan 16 GB, RAM 682MB, kompas, serta beberapa hardware penunjang lain termasuk perangkat penting untuk menerima perintah suara.
        
>>>>>>> 7d00792333fb3ebb146649d59e153da9135d63f2
      section
        h2 SMS Iphone hadir di Google Glass
        h3 Google Glass menghadirkan SMS Iphone yang bisa dibaca melalui kacamata Google Glass.
        h3 Google mengatakan, pengguna akan mendapatkan pemberitahuan di Google Glass setiap kali mereka menerima SMS walaupun tidak bisa membalasnya.

      section
        h2 Lanjutan
        h3 Pengguna dapat mengaktifkan fitur ini pada pengaturan Bluetooth iPhone dan memilih "tampilkan pemberitahuan".
        h3 Pekan lalu, perusahaan ini mengatakan bahwa Google Glass akan mendapatkan KitKat, versi terbaru dari sistem operasi Android untuk perangkat mobile.
        
      section(data-bespoke-hash='named-route')
        h2 Kelebihan dan Kekurangan Google Glass

      section(data-bespoke-state='emphatic')
        h2 Kelebihan Google Glass
        h3 Navigasi dengan jari digunakan untuk menjelajah atau browsing di internet
        h3 Bingkai terbuat dari titanium sehingga nyaman dan ringan saat dikenakan.

      section
        h2 Kekurangan Google Glass
        hr
        ul
          li Bisa digunakan untuk mengintip dan merekam lawan jenis
          li Digunakan untuk memata-matai orang yang baru dikenal
          li Melihat pornografi
        hr
        ul
          li Bisa menyebabkan kecelakaan seperti ketika pengemudi menggunakan ponsel.Kabarnya di Amerika sebelum google glass diluncurkan,otoritas pemerintah disana sudah melarang para pengemudi mobil untuk memakia google glass saat berkendara

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild